<div id="run-list">
  <ul>
    {{#each runs as |run|}}
      <li>
        <div class="name">
          {{run.name}}
        </div>
        <div class="distance">
          {{run.distance}}
        </div>
      </li>
    {{/each}}
  </ul>
</div>
